
  .container{
    display:flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content:space-around;
    align-content:space-around;
    flex-direction: row;
    }

  .item {
    flex-basis: 33%;
  }

  .column{
    flex-direction: column;
    flex-grow: 0;
    flex-basis: 100%;
  }


  @media (min-width: 600px) {
    .column {
      flex-basis: 50%;
    }
    .column-3{
      display: flex;
      flex:1 1 100%;
      flex-direction:row;
      flex-wrap: wrap;
      align-items: center;
      align-content: space-around;
    }
    .item{
      flex-basis: 50%;
    }
  }


  @media (min-width: 1000px) {
    .column {
      flex-basis: 33%;
    }
    .column-2{
      flex-direction: column;
    }
    .column-3{
      flex-flow: column;;
    }
  }
