.box{
  font-size: 75px;
  color: #fedcba;
  background: #abcdef;
  border-radius: 8px;
}

img{
  width: 100%;
}
a{
  position: relative;
}
span {
  position: relative;
  left: 50%;                        /* horizontal alignment */
  top: 50%;                         /* vertical alignment */
  transform: translate(-50%, -50%); /* horizontal, vertical alignment fine tuning;*/
}
